.luarc.json
.DS_Store
nvim/.config/*
nvim/.config/nvim/spell/
!nvim/.config/nvim/
bin/.local/
!bin/.local/scripts/tmux-sessionizer.sh
!bin/.local/scripts/find-string-json.sh
!bin/.local/scripts/llm-text-search.sh
db/
